.loginsignup {
    width: 100%;
    height: 80vh;
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginsignup-container {
    width: 600px; /* Adjusted width */
    max-width: 90%; /* Added maximum width */
    margin: auto;
    background: #fff;
    padding: 40px 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}


.loginsignup-container h1 {
    margin: 20px 0;
    color: #333;
    font-size: 32px;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    width: 97%;
}

.loginsignup-fields input {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #333;
    font-size: 16px;
    border-radius: 25px;
    transition: border-color 0.3s ease-in-out;
}

.loginsignup-fields input:focus {
    border-color: #ff4141;
    animation: pulse 1s infinite;
}

.loginsignup-container button {
    width: 100%;
    height: 60px;
    color: #fff;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease-in-out;
}

.loginsignup-container button:hover {
    background-color: #e63b3b;
    animation: pulse 1s infinite;
}

.loginsignup-login {
    margin-top: 20px;
    color: #666;
    font-size: 16px;
    font-weight: 500;
}

.loginsignup-login span {
    color: #ff4141;
    font-weight: 600;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
    color: #666;
    font-size: 16px;
    font-weight: 500;
}
.p{
    cursor: pointer;
}


.password-field {
    position: relative;
}

.eye {
    position: absolute;
    right: 10px; /* Adjusted position to the right */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
}



@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 65, 65, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 65, 65, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 65, 65, 0);
    }
}

/* Responsive styles */
@media (max-width: 1280px) {
    .loginsignup-container {
        width: auto;
        max-width: 900px;
        padding: 30px;
    }
}

@media (max-width: 1024px) {
    .loginsignup-container {
        max-width: 400px;
    }
    .loginsignup-fields input {
        height: 35px;
        font-size: 13px;
        
    }
    .loginsignup-container h1 {
        font-size: 24px;
    }
    .loginsignup-container button {
        height: 45px;
        font-size: 16px;
    }
    .loginsignup-login {
        font-size: 12px;
    }
    .loginsignup-agree {
        font-size: 12px;
    }
}

@media (max-width: 800px) {
    .loginsignup-container {
        padding: 20px;
    }
    .loginsignup-fields input {
        height: 30px;
        font-size: 12px;
        width: 290px;
    }
}

@media (max-width: 500px) {
    .loginsignup-container {
        max-width: 250px;
    }
    .loginsignup-fields input {
        height: 25px;
        font-size: 10px;
        width: 230px;
    }
    .loginsignup-container h1 {
        font-size: 20px;
    }
    .loginsignup-container button {
        height: 40px;
        font-size: 14px;
    }
    .loginsignup-login {
        font-size: 10px;
    }
    .loginsignup-agree {
        font-size: 10px;
    }
}