.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hero-left {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 10%;
    color: white;
}

.glitch {
    font-size: 100px;
    font-weight: 600;
    position: relative;
}

.glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #ff0000;
    clip: rect(0, 100%, 0, 0);
    animation: glitch 0.1s infinite linear alternate-reverse;
}
@keyframes glitch {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    5% {
        transform: translateY(-5px);
        opacity: 0.8;
        color: #ff0000; /* Red color */
    }
    10% {
        transform: translateY(5px);
        opacity: 0.6;
        color: #0000ff; /* Blue color */
    }
    15% {
        transform: translateY(-3px);
        opacity: 0.4;
        color: #ff0000; /* Red color */
    }
    20% {
        transform: translateY(2px);
        opacity: 0.2;
        color: #0000ff; /* Blue color */
    }
    25% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 0;
    }
}


.hero-latest-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px 30px;
    border-radius: 35px;
    background: #ff4141;
    font-size: 22px;
    font-weight: 500;
}

.glitch-btn {
    position: relative;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
}

.glitch-btn::before,
.glitch-btn::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}

.glitch-btn::before {
    animation: glitch-text 0.1s infinite linear alternate-reverse;
}

.glitch-btn::after {
    animation: glitch-text-2 0.1s infinite linear alternate-reverse;
    opacity: 0;
}

@keyframes glitch-text {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    5% {
        transform: translateY(-5px);
        opacity: 0.8;
        color: #ff0000; /* Red color */
    }
    10% {
        transform: translateY(5px);
        opacity: 0.6;
        color: #0000ff; /* Blue color */
    }
    15% {
        transform: translateY(-3px);
        opacity: 0.4;
        color: #ff0000; /* Red color */
    }
    20% {
        transform: translateY(2px);
        opacity: 0.2;
        color: #0000ff; /* Blue color */
    }
    25% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

@keyframes glitch-text-2 {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    5% {
        transform: translateY(-5px);
        opacity: 0.2;
        color: #ff0000; /* Red color */
    }
    10% {
        transform: translateY(5px);
        opacity: 0.4;
        color: #0000ff; /* Blue color */
    }
    15% {
        transform: translateY(-3px);
        opacity: 0.6;
        color: #ff0000; /* Red color */
    }
    20% {
        transform: translateY(2px);
        opacity: 0.8;
        color: #0000ff; /* Blue color */
    }
    25% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 1280px) {
    .hero-left {
        padding-left: 100px;
    }
    .hero-left h2 {
        font-size: 22px;
    }
    .hero-left p {
        font-size: 40px;
    }
    .hand-hand-icon img {
        width: 80px;
    }
    .hero-latest-btn {
        width: 250px;
        height: 60px;
        font-size: 18px;
    }
    .hero-right img {
        width: 500px;
    }
}

@media (max-width: 1024px) {
    .hero-left {
        padding-left: 80px;
    }
    .hero-left h2 {
        font-size: 20px;
    }
    .hero-left p {
        font-size: 50px;
    }
    .hand-hand-icon img {
        width: 65px;
    }
    .hero-latest-btn {
        width: 220px;
        height: 50px;
        font-size: 16px;
    }
    .hero-right img {
        width: 400px;
    }
}

@media (max-width: 800px) {
    .hero-left {
        padding-left: 30px;
    }
    .hero-left h2 {
        font-size: 16px;
    }
    .hero-left p {
        font-size: 40px;
    }
    .hand-hand-icon img {
        width: 50px;
    }
    .hero-latest-btn {
        width: 175px;
        height: 40px;
        font-size: 13px;
    }
    .hero-right img {
        width: 300px;
    }
}

@media (max-width: 500px) {
    .hero {
        flex-direction: column;
        padding: 10% 0;
    }
    .hero-right {
        display: none;
    }
    .hero-left h2 {
        font-size: 18px;
    }
    .hero-left p {
        font-size: 30px;
    }
    .hand-hand-icon img {
        width: 55px;
    }
    .hero-latest-btn {
        width: 200px;
        height: 45px;
        font-size: 14px;
    }
}
