.list-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 740px;
    padding: 10px 50px;
    margin: 30px;
    border-radius: 6px;
    background: white;
}

.listproduct-format-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
}

.listproduct-format {
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 10px; 
    width: 1000px;/* Add margin between items */
}

.listproduct-product-icon {
    height: 80px;
    margin-right: 10px;
}

.listproduct-remove-icon {
    cursor: pointer;
    width: 20px;
}

.listproduct-allproducts {
    overflow-x: auto;
    width: 1100px;
}

.listproduct-item {
    display: flex; /* Align items in a row */
    align-items: center;
    margin-right: 20px; /* Adjust margin as needed */
}

@media (max-width: 1024px) {
    .listproduct-allproducts {
        width: 100%;
    }
    .listproduct-format-main {
        padding: 15px 0px;
    }
    .listproduct-format {
        width: 800px;
    }
    .listproduct-product-icon {
        height: 70px;
    }
    .listproduct-remove-icon {
        width: 15px;
    }
}

@media (max-width: 800px) {
    .listproduct-format-main {
        font-size: 14px; /* Adjust font size */
    }
    .listproduct-product-icon {
        height: 60px;
    }
    .list-product {
     
        box-sizing: border-box; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 500px) {
    .list-product {
        padding: 10px 20px;
        box-sizing: border-box; /* Adjust padding for smaller screens */
    }
    .listproduct-format-main {
        font-size: 9.5px; /* Adjust font size */
    }
    .listproduct-format {
        width: 100%;
    }
    .listproduct-product-icon {
        height: 50px;
    }
    .listproduct-remove-icon {
        width: 12px;
    }
    .listproduct-allproducts{
        width: 300px;
        
    }
    .listproduct-remove-icon {
        cursor: pointer;
        width: 13px;
        margin-right: 13px;
    }
}
