.popular{

    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    margin-bottom: 160px;
}
.popular h1 {
    color: #4A4E69; /* Custom color */
    font-size: 50px;
    font-weight: 600;
    position: relative;
}

.popular h1 {
    color: #4A4E69; /* Custom color */
    font-size: 50px;
    font-weight: 600;
    position: relative;
}

.popular h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #FF6F61, #FFD166); /* Gradient background */
    bottom: -3px;
    left: 0;
    border-radius: 10px;
    z-index: -1;
    animation: slide 2s ease infinite; /* Animation */
}

@keyframes slide {
    0% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-50%);
    }
}
.popular-item{
    
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
@media(max-width: 1280px){
    .popular {
        height: 70vh;
    }
    .popular h1 {
        font-size: 40px;
    }
    .popular hr {
        width: 160px;
        height: 4px;
    }
    .popular-item{
        gap: 20px;
        margin-top: 30px;
    }
}
@media(max-width:1024px){
    .popular{
        height:60vh;
    }
    .popular h1{
        font-size:30px;
    }
    .popular hr{
        width:120px;
        height:3px;
    }
    .popular-item{
        gap:15px;
        margin-top:20px;
    }
}
@media(max-width:800px){
    .popular{
        height:50vh;
        gap:6px;
    }
    .popular h1{
        font-size:20px;
    }
    .popular hr{
        width:100px;
    }
    .popular-item{
        gap:5px;
    }
}
@media(max-width:500px){
    .popular{
        height: 90vh;
    }
    .popular-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
